# .coveragerc - R110-308 coverage config for mas-engineer

[run]
source = tools
branch = False
parallel = False

[report]
show_missing = True
skip_covered = False
skip_empty = True
sort = -Cover
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    \bpass\b
    \.\.\.
    ^\s*ap\.add_argument\(
    ^\s*args = ap\.parse_args\(
    ^\s*sys\.exit\(
    ^\s*if len\(sys\.argv\)\s*[<>]=\s*\d+
    ^\s*if\s+__name__\s*==\s*.__main__.
    ^\s*for\s+_a\s+in\s+sys\.argv
    ^\s*_a\s+=\s+sys\.argv
    ^\s*sys\.argv\.pop\(
    ^\s*del\s+sys\.argv\[
    ^\s*print\(.+Usage.+sys\.argv
    noqa
    type: ignore
ignore_errors = True

[html]
directory = .mase/coverage_html

[xml]
output = .mase/coverage.xml
